
<form class="form-horizontal">

    <div class="form-group">
        <label for="kelloggstartyear" class="control-label col-xs-2">Matriculation Year</label>
        <div class="col-xs-10">
            <input name="kelloggstartyear" maxlength="4" type="number" class="form-control" id="inputstartyear" placeholder="What year will you start classes at Kellogg?">
        </div>
    </div>
	
    <div class="form-group">
        <label for="kelloggbudgetyear" class="control-label col-xs-2">Budget Year</label>
        <div class="col-xs-10">
            <input name="kelloggbudgetyear" type="number" class="form-control" id="inputstartyear" placeholder="What is the start year of the most recent budget Kellogg published online?">
        </div>
    </div>
	
    <div class="form-group">
        <label for="kelloggstartyear" class="control-label col-xs-2">Matriculation Year</label>
        <div class="col-xs-10">
            <input name="kelloggstartyear" type="number" class="form-control" id="inputstartyear" placeholder="Matriculation Year">
        </div>
    </div>
	










</form>